@using schedule.data.erps.dictionary
@using PagedList.Mvc
@using PagedList
@model IPagedList<DIC_DANTOC>
@{
    ViewBag.Title = "Danh mục dân tộc";
    ViewBag.PageName = "DANH MỤC DÂN TỘC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}

<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            <h3 class="box-title m-b-0">DÂN TỘC</h3>
            <p class="text-muted m-b-20">Danh mục dân tộc</p>
            <div class="scrollable">
                <div class="table-responsive">
                    <table id="" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th width="60">#</th>
                                <th>Mã</th>
                                <th>Tên dân tộc</th>
                                <th>Mô tả</th>
                                <th width="150">Trạng thái</th>
                                <th width="100">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DIC_DANTOC dantoc in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@dantoc.MaDanToc</td>
                                    <td>@dantoc.TenDanToc</td>
                                    <td>@dantoc.MoTa</td>
                                    <td>
                                        @if (dantoc.Status == 1)
                                        {
                                            <span class="label label-success">Đang sử dụng</span>
                                        }
                                        else
                                        {
                                            <span class="label label-default">
                                                Không sử dụng
                                            </span>
                                        }
                                    </td>
                                    <td class="text-nowrap">
                                        <a href="#" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                                        <a href="#" data-toggle="tooltip" data-original-title="Close"> <i class="fa fa-close text-danger"></i> </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        </tbody>
                    </table>

                </div>
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-7 text-right">
                        @Html.PagedListPager(Model, page => Url.Action("Index", "dantoc", new { page, pagesize = (int)ViewBag.pagesize }), schedule.data.helpers.HtmlHelper.GetPagedListRenderOptions)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
