<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/plugins/images/favicon.png">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/themes/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Menu CSS -->
    <link href="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/plugins/bower_components/dropify/dist/css/dropify.min.css">
    <link href="~/plugins/bower_components/tablesaw-master/dist/tablesaw.css" rel="stylesheet">
    <!--alerts CSS -->
    <link href="~/plugins/bower_components/sweetalert/sweetalert.css" rel="stylesheet" type="text/css">
    <!-- wysihtml5 CSS -->
    <link rel="stylesheet" href="~/plugins/bower_components/html5-editor/bootstrap-wysihtml5.css" />
    <!-- Dropzone css -->
    <link href="~/plugins/bower_components/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- Footable CSS -->
    <link href="~/plugins/bower_components/footable/css/footable.core.css" rel="stylesheet">
    <link href="~/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <!-- Page plugins css -->
    <!-- FormValidation -->
    <link rel="stylesheet" href="~/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.css">
    <link href="~/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <!-- xeditable css -->
    <link href="~/plugins/bower_components/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <!-- Color picker plugins css -->
    <link href="~/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="~/plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Typehead CSS -->
    <link href="~/plugins/bower_components/typeahead.js-master/dist/typehead-min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="~/plugins/bower_components/toast-master/css/jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="~/plugins/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Wizard CSS -->
    <link href="~/plugins/bower_components/jquery-wizard-master/css/wizard.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="~/plugins/bower_components/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="~/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="~/plugins/bower_components/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="~/themes/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/themes/css/style.css" rel="stylesheet">
    <link href="~/Content/custom/style4.css" rel="stylesheet" />
    <!-- color CSS -->
    <link href="~/themes/css/colors/blue-dark.css" id="theme" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <script type="text/javascript">
        var appModuleRuntime = '@ViewBag.moduleCode';
    </script>

</head>
<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @Html.Partial("~/Views/Shared/_NavbarHeader.cshtml", ViewData["groupModules"])
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        @Html.Partial("~/Views/Shared/_LeftSidebar.cshtml")
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Breadcrumb -->
                <!-- ============================================================== -->
                <div class="row bg-title ">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">@ViewBag.PageName</h4>
                    </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        <!--<button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>-->
                        <a href="#" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                            <li class="active">Dashboard 1</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- ============================================================== -->
                <!-- end breadcrumb -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- start render body -->
                <!-- ============================================================== -->
                @RenderBody()
                <!-- ============================================================== -->
                <!-- end render body -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- start right sidebar -->
                <!-- ============================================================== -->
                @Html.Partial("~/Views/Shared/_RightSidebar.cshtml")
                <!-- ============================================================== -->
                <!-- end right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- start footer -->
            <!-- ============================================================== -->
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/plugins/bower_components/calendar/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/themes/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="~/themes/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/themes/js/waves.js"></script>
    <script src="~/plugins/bower_components/html5-editor/wysihtml5-0.3.0.js"></script>
    <script src="~/plugins/bower_components/html5-editor/bootstrap-wysihtml5.js"></script>
    <script src="~/plugins/bower_components/dropzone-master/dist/dropzone.js"></script>
    <!-- Form Wizard JavaScript -->
    <script src="~/plugins/bower_components/jquery-wizard-master/dist/jquery-wizard.min.js"></script>
    <!-- FormValidation plugin and the class supports validating Bootstrap form -->
    <script src="~/plugins/bower_components/jquery-wizard-master/libs/formvalidation/formValidation.min.js"></script>
    <script src="~/plugins/bower_components/jquery-wizard-master/libs/formvalidation/bootstrap.min.js"></script>
    <!-- Sweet-Alert  -->
    <script src="~/plugins/bower_components/sweetalert/sweetalert.min.js"></script>
    <script src="~/plugins/bower_components/sweetalert/jquery.sweet-alert.custom.js"></script>
    <!--dataTables-->
    <script src="~/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!--Counter js -->
    <script src="~/plugins/bower_components/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/bower_components/counterup/jquery.counterup.min.js"></script>
    <!--Morris JavaScript -->
    <script src="~/plugins/bower_components/raphael/raphael-min.js"></script>
    <script src="~/plugins/bower_components/morrisjs/morris.js"></script>
    <!-- chartist chart -->
    <script src="~/plugins/bower_components/chartist-js/dist/chartist.min.js"></script>
    <script src="~/plugins/bower_components/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!-- Calendar JavaScript -->
    <script src="~/plugins/bower_components/moment/moment.js"></script>
    <script src='~/plugins/bower_components/calendar/dist/fullcalendar.min.js'></script>
    <script src="~/plugins/bower_components/calendar/dist/jquery.fullcalendar.js"></script>
    <script src="~/plugins/bower_components/calendar/dist/cal-init.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- jQuery x-editable -->
    <script type="text/javascript" src="~/plugins/bower_components/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <!-- Footable -->
    <script src="~/plugins/bower_components/footable/js/footable.all.min.js"></script>
    <script src="~/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Typehead Plugin JavaScript -->
    <script src="~/plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
    <script src="~/plugins/bower_components/typeahead.js-master/dist/typeahead-init.js"></script>
    <!-- jQuery peity -->
    <script src="~/plugins/bower_components/peity/jquery.peity.min.js"></script>
    <script src="~/plugins/bower_components/peity/jquery.peity.init.js"></script>
    <script src="~/themes/js/jasny-bootstrap.js"></script>
    <!-- jQuery file upload -->
    <script src="~/plugins/bower_components/dropify/dist/js/dropify.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/themes/js/custom.js"></script>
    <script src="~/themes/js/validator.js"></script>
    <script src="~/Scripts/custom/jquery.dropdown.js"></script>
    @*<script src="~/themes/js/dashboard1.js"></script>*@
    <!-- Custom tab JavaScript -->
    <!--input mask-->

    <script src="~/Plugins/input-mask/inputmask/inputmask.js"></script>
    <script src="~/Plugins/input-mask/inputmask/inputmask.extensions.js"></script>
    <script src="~/Plugins/input-mask/inputmask/inputmask.numeric.extensions.js"></script>
    <script src="~/Plugins/input-mask/inputmask/inputmask.date.extensions.js"></script>
    <script src="~/Plugins/input-mask/inputmask/inputmask.phone.extensions.js"></script>
    <script src="~/Plugins/input-mask/inputmask/jquery.inputmask.js"></script>
    <script src="~/Plugins/input-mask/inputmask/phone-codes/phone.js"></script>
    <!--FooTable init-->
    <script src="~/themes/js/footable-init.js"></script>
    <script src="~/plugins/bower_components/toast-master/js/jquery.toast.js"></script>
    <!--Style Switcher -->
    <script src="~/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="~/Scripts/apps/app.js"></script>
    <script src="~/Scripts/aes/aes.js"></script>
    <script src="~/Scripts/aes/aes-ctr.js"></script>
    <script type="text/javascript">
        (function () {
            [].slice.call(document.querySelectorAll('.sttabs')).forEach(function (el) {
                new CBPFWTabs(el);
            });
        })();
        $(document).ready(function () {
            $('#cd-dropdown').dropdown({
                stack: false,
                //slidingIn : 100
                onOptionSelect: function (d) {
                    console.log(d);
                    $('#form-change-module input[name="moduleid"]').val($(d.context).attr('data-value'));
                    $('#form-change-module').submit();
                }
            });
            $('[data-mask]').inputmask();
            $('[data-mask-regex]').inputmask('Regex');
        });
        function oncheckboxchange(checkbox) {
            $(checkbox).closest(".checkbox").find("input[type=hidden]").val($(checkbox).is(":checked"));
        }
    </script>

    @{
        schedule.data.helpers.MessageObject messageObject = null;
        if (TempData["notify"] != null)
        {
            messageObject = (schedule.data.helpers.MessageObject)TempData["notify"];
        }
    }
    @if (messageObject != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                @switch (messageObject.type)
                {
                    case schedule.data.enums.MessageObjectType.Info:
                        <text>
                toast.info('@messageObject.title', '@messageObject.message');
                        </text>
                        break;
                    case schedule.data.enums.MessageObjectType.Warning:
                        <text>
                toast.warning('@messageObject.title', '@messageObject.message');
                        </text>
                        break;
                    case schedule.data.enums.MessageObjectType.Success:<text>
                toast.success('@messageObject.title', '@messageObject.message');
                        </text>
                        break;
                    case schedule.data.enums.MessageObjectType.Error:<text>
                toast.error('@messageObject.title', '@messageObject.message');
                        </text>
                        break;
                    default:
                        break;
                }
            });
        </script>
    }

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
