@using schedule.data.erpExtensions
@using schedule.data.businessObject
@using schedule.com.Models.sessions
@{
    MenuProvider menuProvider = new MenuProvider();
    SessionProvider sessionProvider = new SessionProvider();
    Layout = null;
    IEnumerable<SYS_SUBSYSTEM_EXTEND> menus = menuProvider.GetMainMenu(sessionProvider.ModuleId ?? "");
    if (menus == null)
    {
        menus = new List<SYS_SUBSYSTEM_EXTEND>();
    }
}

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li class="user-pro">
                <a href="#" class="waves-effect">
                    <img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span class="hide-menu"> Steve Gection<span class="fa arrow"></span></span>
                </a>
                <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
                    <li><a href="javascript:void(0)"><i class="ti-user"></i> <span class="hide-menu">My Profile</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-wallet"></i> <span class="hide-menu">My Balance</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-email"></i> <span class="hide-menu">Inbox</span></a></li>
                    <li><a href="javascript:void(0)"><i class="ti-settings"></i> <span class="hide-menu">Account Setting</span></a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> <span class="hide-menu">Logout</span></a></li>
                </ul>
            </li>

            @foreach (SYS_SUBSYSTEM_EXTEND item in menus)
            {
                <li>

                    @if (item.HasChild())
                    {
                        <a href="javascript:void(0)" class="waves-effect">
                            <i class="@item.Icon fa-fw"></i> <span class="hide-menu">
                                @item.SubSystemName
                            </span>
                            <text><span class="fa arrow"></span></text>
                        </a>
                    }
                    else
                    {
                        <a href="@item.GetUrl()" data-nav="@item.SubSystemCode" class="waves-effect">
                            <i class="@item.Icon fa-fw"></i> <span class="hide-menu">
                                @item.SubSystemName
                            </span>
                        </a>
                    }
                    @if (item.HasChild())
                    {
                        <ul class="nav nav-second-level">
                            @foreach (SYS_SUBSYSTEM_EXTEND itemChild1 in item.Sys_SubSystems)
                            {
                                <li>
                                    @if (itemChild1.HasChild())
                                    {
                                        <a href="javascript:void(0)">
                                            <i class="fa fa-tags fa-fw"></i>
                                            <span class="hide-menu">
                                                @itemChild1.SubSystemName
                                            </span>
                                            <text><span class="fa arrow"></span></text>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="@itemChild1.GetUrl()" data-nav="@itemChild1.SubSystemCode">
                                            <i class="fa fa-tag fa-fw"></i>
                                            <span class="hide-menu">
                                                @itemChild1.SubSystemName
                                            </span>
                                        </a>
                                    }
                                    @if (itemChild1.HasChild())
                                    {
                                        <ul class="nav nav-third-level">
                                            @foreach (SYS_SUBSYSTEM_EXTEND itemChild2 in itemChild1.Sys_SubSystems)
                                            {
                                                <li>
                                                    @if (itemChild2.HasChild())
                                                    {
                                                        <a href="javascript:void(0)">
                                                            <i class="fa fa-tags fa-fw"></i>
                                                            <span class="hide-menu">
                                                                @itemChild2.SubSystemName
                                                            </span>
                                                            <text><span class="fa arrow"></span></text>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@itemChild2.GetUrl()" data-nav="@itemChild2.SubSystemCode">
                                                            <i class="fa fa-tag fa-fw"></i>
                                                            <span class="hide-menu">
                                                                @itemChild2.SubSystemName
                                                            </span>
                                                        </a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>
</div>
